#race {
  text-align: center;
  background-color: #242021;
}

h1,
h2,
h3 {
  color: #a2a2a2;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 50px;
}

#track {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 500px;
  text-align: left;
}
#car1 img,
#car2 img {
  height: 250px;
}
#finishFlag,
#countdown {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#countdown {
  font-size: 100px;
}

/*use these below*/
/*car1 color*/
/*color: #ffebf7;*/

/*car2 color*/
/*color: #ba0000;*/
